.uno
{	
	
	width: 167px;
	border: 2px solid red; 
	padding:0px;
	height: 250px;
	margin-bottom: 0px;
	font-size: 12px;
}


.dos{
	
	
	width: 167px;
	border: 2px solid red; 
	padding:0px;
	height: 250px;
	margin-bottom:0px;
	font-size: 12px;
}


.tres{

	
	width: 167px;
	border: 2px solid red; 
	padding:0px;
	height: 250px;	
	font-size: 12px;
}